h1{
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-color: rgb(220, 220, 220);
}

table, th, td {
    border-width: 0.5;
    border-collapse: collapse;
    padding: 10;
}

tr:hover{
    background-color: rgb(235, 235, 235);
}

#div_tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 50px;
}

.Tags {
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 550px;
}

.chart1p {
    margin-left: auto;
    margin-right: auto;
}

.chart1b {
    margin-left: auto;
    margin-right: auto;
}

#div_regions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 60px;
    margin-right: 60px;
}

.Regions {
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 550px;
}

.chart2p {
    margin-left: auto;
    margin-right: auto;
}

.chart2b {
    margin-left: auto;
    margin-right: auto;
}